<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Corujão | Vídeo-Locadora</title>
</head>
<body>
    <article class="imagem">
        <img src="./img/coruja.png" alt="" width="300px" height="300px">
    </article>
    <article>
        <nav>
            <ul class="menu">
                <li><a href="/">Início</a></li>
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="#">Quem Somos</a></li>
            </ul>
        </nav>
    </article>
    <script src="./js/script.js"></script>
</body>
</html>